.ThTree{position:relative; border: solid 1px #fff; text-align:center; width: 800px; height: 450px; overflow-y:scroll; overflow-x:scroll;}
.TreeNode{background:#aaa;position:absolute;float:left; margin: 5px; min-width: 130px;}
.cont{border:solid 1px #333;position:relative;top:-3px;left:-3px;padding:5px;background:#fff;float:left; min-width: 130px; white-space:nowrap;}
.tree-layer{margin-top: 5px; margin-bottom: 20px;}
.bottom-line{border-left:solid 2px #333;position:absolute; width: 0px; height: 10px;}
.top-line{border-left:solid 2px #333;position:absolute; width: 0px; height: 17px; padding: 1px; font-size:14px;}
.hr-line{border-top:solid 2px #333;position:absolute; width: 20px; height: 0px;}
.thSelectedNode{background:#bbb;}
